@import '~bpk-mixins';

.relativePosition {
  position: relative;
}

.rightAlign {
  float: right;
}

.leftAlign {
  float: left;
}

.bottomAlign {
  float: bottom;
}

.bottomMargin {
  margin-bottom: 1.5rem;
}

.grayFill500 {
  color: $bpk-color-gray-500;
}
.grayFill300 {
  color: $bpk-color-gray-300;
}

.greenFill {
  color: $bpk-color-green-500;
}
.redFill {
  color: $bpk-color-red-500;
  text-decoration: underline;
}

.arrowGrayColor {
  fill: $bpk-color-gray-300;
}
