@import '~bpk-mixins';

.relativePosition {
  position: relative;
}

.selectButton {
  position: absolute;
  right: 0;
  top: 1.875rem;
}
.rightAlign {
  float: right;
}

.leftAlign {
  float: left;
}

.bottomAlign {
  position: absolute;
  bottom: .375rem;
}

.bottomMargin {
  margin-bottom: 1.5rem;
}

.grayFill500 {
  color: $bpk-color-gray-500;
}
.grayFill300 {
  color: $bpk-color-gray-300;
}

.greenFill {
  color: $bpk-color-green-500;
}

.arrowGrayColor {
  fill: $bpk-color-gray-300;
}
